<div class="flex-container d-flex mb-3" >
  <div class="left p-2 flex-fill">
      <button class="btn"><i style='font-size:1.75em' class='fab'>&#xf09a;</i></button>
    <input type="text" />
  </div>
  <div class="center p-2 flex-fill">
    <button class="btn"><i class="fa-solid fa-house"></i></button>
    <button class="btn"><i class='far'>&#xf144;</i></button>
    <button class="btn"><i class="fa-solid fa-store"></i></button>
    <button class="btn"><i class="fa-solid fa-people-group"></i></button>
    <button class="btn"><i class="material-icons">&#xe1bd;</i></button>
  </div>
  <div class="right p-2 flex-fill"></div>
</div>
