.flex-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 1% 0;
    background-color: white;
}

button {
    border: none;
}

.left {
    margin-right: 5rem;
    padding: none;
}

.left button {
    margin-left: none;
    color: darkblue;
    background-color: none;
}

.center .btn i {
    font-size: 1.25em;
}

.center .btn {
    margin-left: 1%;
}