<div class="flex-container" >
  <div class="left">
      <button><i class="fa-brands fa-facebook"></i></button>
    <input type="text" />
  </div>
  <div class="center">
    <button class="btn"><i class="fa-solid fa-house"></i></button>
    <button class="btn"><i class="as fa-play-circle"></i></button>
    <button class="btn"><i class="fa-solid fa-store"></i></button>
    <button class="btn"><i class="fa-solid fa-people-group"></i></button>
    <button class="btn"><i class="material-icons"></i></button>
  </div>
  <div class="right"></div>
</div>
